#homePage {
    background-color: #FFEEB3;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

iframe {
    width: 40em;
    height: 20em;
}

.Carousel {
    height: 640px;
}

.Carousel img {
    height: 640px;
    width: 100%;
    object-fit: contain;

}